{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error flash">
            <h4>There was some failure!</h4>
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success flash">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {% block stylesheets %}
        {% stylesheets
            'css/accordions.css'
            'css/grid_panel.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <script>
        function showCreateForm(){
            $('#newConnectionForm').removeClass('hidden');
            $('#actionButtons').addClass('hidden');
            $('#panel_container').find('form').attr("id", "current_form");
            $('#current_form').find('input:first').focus();
        }

        function cancel(){
            $('#actionButtons').removeClass('hidden');
            $('#newConnectionForm').addClass('hidden');
        }

        {% if action == "create" %}
        $(document).ready(function () {
            showCreateForm();
        });
        {% endif %}

    </script>

    <div class="col-sm-11 col-sm-offset-2" id="actionButtons">
        <input type="" class="hexaaSearchField" name="" placeholder="Service, permission, permission set">
        <button class="btnhexaa btn-red pull-right" onclick="showCreateForm()"><i class="material-icons" aria-hidden="true">add</i> New connection</button>
    </div>

    <div id="newConnectionForm" class="col-md-9 col-md-offset-3 hidden">
        <div class="grid_panel">
            <div class="header">
                Connect service
                <div class="pull-right">
                    <button type="button" id="cancelbutton" class="actionbutton" onclick="cancel()"><i class="material-icons">clear</i></button>
                    <button type="submit" id="submitbutton" class="actionbutton" onclick="$('#current_form').submit();" ><i class="material-icons">done</i></button>
                </div>
            </div>
            <div id="panel_container">
                {{ form_start(form) }}
                {% for key, field in form  %}
                    <div class="row {% if ("_token" == key) %} hidden {% endif %}" style="padding-top: 12px;">
                        <div class="col-sm-3 propname">{{ form_label(field) }}</div>
                        <div class="col-sm-11"> {{ form_widget(field) }}</div>
                        {% if field.vars.errors|length %}
                            <div class="col-sm-offset-3 col-sm-11 has-error">{{ field.vars.errors|length }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

        <div class="col-sm-11 col-sm-offset-2" style="margin-top: 12px">
            {{ include('::accordions.html.twig', { heading: "Connected services", variant: "light", items: services_accordion }) }}
        </div>

{% endblock %}
