{% extends "::base.html.twig" %}

{% block title %}HEXAA Organizations{% endblock %}

{% block body %}	
    {% stylesheets
        'css/organization.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script>
        var serv = $("#serv");
        serv.css('background-color', "#333333");
        var org = $("#org");
        org.css('background-color', "#61AFC5");
    </script>

    {% set names = {
            app_organization_properties: "Properties",
            app_organization_users: "Users",
            app_organization_roles: "Roles",
            app_organization_connectedservices: "Connected services"
            }
     %}
    {% if organization is defined %}
        {{ include('::navbar.html.twig', { organization: organization, names: names}) }}
    {% else %}
        {{ include('::navbar.html.twig') }}
    {% endif %}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error flash">
                <h4>There was some failure!</h4>
                {{ flashMessage|raw }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="flash-success flash">
                <h4>Success!</h4>
                {{ flashMessage|raw }}
            </div>
        {% endfor %}

        {% block container %}{% endblock %}
    </div>
{% endblock %}
