{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}
    {% block stylesheets %}
        {% stylesheets 'css/accordions.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    
    {% set defaultrole = null %}
    {% for role in roles %}
        {% if role.id == organization.default_role_id %}
            {% set defaultrole = role %}
        {% endif %}
    {% endfor %}



    <div id="srvmain">
            <table id="centertable3">
                <td class="uniqueproperty" style="background-color: #FFFFFF">
                    <div id="propertyname">
                        <b> Properties </b>
                        <button class="editproperty"></button>
                    </div>
                    <div >
                        {% if organization.name %}
                            <div class="inline"><b>Name</b></div>
                            <div class="descriptions" >{{ organization.name }}</div>
                        {% endif %}
                    </div>
                    <div>
                        {% if organization.description %}
                            <div class="inline"><b>Description</b></div>
                            <div class="descriptions" >{{ organization.description }}</div>
                        {% endif %}
                    </div>
                    <div>
                        {% if organization.url %}
                            <div class="inline"><b>Home Page</b></div>
                            <div class="descriptions">{{ organization.url }}</div>
                        {% endif %}
                    </div>
                    <div>
                        {% if defaultrole|length %}
                            <div class="inline"><b>Default role</b></div>
                            <div class="descriptions">{{ defailtrole.name }}</div>
                        {% endif %}
                    </div>
                </td>
                <tr>
                    <td class="uniquebuttons" style="background-color: #FFFFFF"></td>
                </tr>
            </table>
    </div>
    {{ include('::accordions.html.twig', { heading: "Roles", variant: "dark", items: roles_accordion }) }}
{% endblock %}
