{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}

    {% if managers is defined and managers|length %}
        <div class="row">
            <div class="col-md-15">
                {{ include(
                    '::tables.html.twig',
                    {
                        variant: 'red',
                        caption: 'Managers',
                        users: managers,
                        table_id: 'managers_table',
                        buttons: managers_buttons,
                        search_placeholder: 'Search manager'
                    }
                    )
                }}
            </div>
        </div>
    {% endif %}

    {% if members is defined and members|length %}
        <div class="row" style="margin-top: 48px;">
            <div class="col-md-15">
                {{ include(
                    '::tables.html.twig',
                        {
                            variant: 'blue',
                            caption: 'Members',
                            users: members,
                            table_id: 'members_table',
                            buttons: members_buttons,
                            search_placeholder: 'Search member'
                        }
                    )
                }}            
            </div>
        </div>
    {% endif %}

    {{ include('::modal.html.twig',
        {
            id: 'membersRemove',
            title: 'Remove members',
            bodyhead: 'Are you ready to remove these users from your organization?',
            bodycontent: 'Optional',
            button:
                {
                    text: 'Remove',
                    class: 'btn-red'
                },
            formaction: path('app_organization_removeusers', {id: organization.id })
        })
    }}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@datatables_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('.members_table_actionButtons').on('click', '#remove', function(event) {
                event.preventDefault();
                var content = $('#membersRemove').find('.modal-body-content');
                content.empty();
                content.append('<ul></ul>');
                var ul = $('#membersRemove').find('ul');
                $('#members_table input:checked').each(function(index, el) {
                    var objectId = $(el).closest('tr').attr('id');
                    ul.append('<li>' + objectId + '</li>');
                    ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                });
                $('#membersRemove').modal('show');
            });
        });
    </script>
{% endblock %}


{% block stylesheets %}
    {% stylesheets
        'css/tables.css'
        'css/modal.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}