{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
        
    {% if managers is defined and managers|length %}
    <div class="row">
        <div class="col-md-15">
            {{ include(
                '::tables.html.twig',
                {
                    variant: 'red',
                    caption: 'Managers',
                    users: managers,
                    table_id: 'managers_table',
                    buttons: managers_buttons,
                    search_placeholder: 'Search manager'
                })
            }}
        </div>
        {{ include('::modal.html.twig',
            {
                id: 'managersRemove',
                title: 'Remove managers',
                bodyhead: 'Are you ready to remove these users from your organization?',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Remove',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_removeusers', {id: organization.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersMessage',
                title: 'Send message',
                bodyhead: 'Send message to selected users',
                bodycontent: 'Itt lesz a textarea és a user lista TODO',
                button:
                    {
                        text: 'Send',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_message', {id: organization.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersRevoke',
                title: 'Revoke manager status',
                bodyhead: 'Revoke managers status',
                bodycontent: 'Itt lesz a user lista TODO',
                button:
                    {
                        text: 'Revoke',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_revoke', {id: organization.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersChangeRole',
                title: 'Change role',
                bodyhead: 'Change the selected managers role',
                bodycontent: 'Itt lesz a user lista TODO',
                button:
                    {
                        text: 'Change roles',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_changerole', {id: organization.id })
            })
        }}
    </div>
    {% endif %}

    {% if members is defined and members|length %}
    <div class="row" style="margin-top: 48px;">
        <div class="col-md-15">
            {{ include(
                '::tables.html.twig',
                {
                    variant: 'blue',
                    caption: 'Members',
                    users: members,
                    table_id: 'members_table',
                    buttons: members_buttons,
                    search_placeholder:
                    'Search member'
                })
            }}
        </div>

        {{ include('::modal.html.twig',
            {
                id: 'membersRemove',
                title: 'Remove members',
                bodyhead: 'Are you ready to remove these users from your organization?',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Remove',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_removeusers', {id: organization.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'membersMessage',
                title: 'Send message',
                bodyhead: 'Send message to selected users',
                bodycontent: 'Itt lesz a textarea és a user lista TODO',
                button:
                    {
                        text: 'Send',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_message', {id: organization.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'membersProposal',
                title: 'Send message',
                bodyhead: 'Propose members to managers',
                bodycontent: 'Itt a user lista TODO',
                button:
                    {
                        text: 'Propose',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_propose', {id: organization.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'membersChangeRole',
                title: 'Change role',
                bodyhead: 'Change the selected members role',
                bodycontent: 'Itt lesz a textarea és a user lista TODO',
                button:
                    {
                        text: 'Change roles',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_changerole', {id: organization.id })
            })
        }}
    </div>
    {% endif %}

    {{ include('AppBundle:Organization:userInvitation.html.twig', {}) }}
    {% if invite_link is defined %}
        {{ include('AppBundle:Organization:userInvitationDone.html.twig', {}) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@datatables_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {

            function getDisplayStringFromElement(el) {
                var row = $(el).closest('tr');
                return $(row.children()[1]).text() + ' &lt;' + $(row.children()[2]).text() + '&gt;';
            }

            function getObjectIdFromElement(el) {
                var row = $(el).closest('tr');
                return row.attr('id');
            }

            {% if members is defined and members|length %}
                $('.members_table_actionButtons').on('click', '#remove', function(event) {
                    event.preventDefault();
                    membersRemove = $('#membersRemove');
                    var content = membersRemove.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = membersRemove.find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        displayString = getDisplayStringFromElement(el);
                        objectId = getObjectIdFromElement(el);
                        ul.append('<li>' + displayString + '</li>');
                        ul.append('<input name="userId[]" value="' + objectId + '" class="hidden">');
                    });
                    membersRemove.modal('show');
                });

                $('.members_table_actionButtons').on('click', '#message', function(event) {
                    event.preventDefault();
                    var content = $('#membersMessage').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#membersMessage').find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        var objectId = $(el).closest('tr').attr('id');
                        ul.append('<li>' + objectId + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#membersMessage').modal('show');
                });

                $('.members_table_actionButtons').on('click', '#proposal', function(event) {
                    event.preventDefault();
                    var content = $('#membersProposal').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#membersProposal').find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        var objectId = $(el).closest('tr').attr('id');
                        ul.append('<li>' + objectId + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#membersProposal').modal('show');
                });

                $('.members_table_actionButtons').on('click', '#changerole', function(event) {
                    event.preventDefault();
                    var content = $('#membersChangeRole').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#membersChangeRole').find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        var objectId = $(el).closest('tr').attr('id');
                        ul.append('<li>' + objectId + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#membersChangeRole').modal('show');
                });
            {% endif %}
            {% if managers is defined and managers|length %}
                $('.managers_table_actionButtons').on('click', '#remove', function(event) {
                    event.preventDefault();
                    var content = $('#managersRemove').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#managersRemove').find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        var objectId = $(el).closest('tr').attr('id');
                        ul.append('<li>' + objectId + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#managersRemove').modal('show');
                });

                $('.managers_table_actionButtons').on('click', '#message', function(event) {
                    event.preventDefault();
                    var content = $('#managersMessage').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#managersMessage').find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        var objectId = $(el).closest('tr').attr('id');
                        ul.append('<li>' + objectId + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#managersMessage').modal('show');
                });

                $('.managers_table_actionButtons').on('click', '#revoke', function(event) {
                    event.preventDefault();
                    var content = $('#managersRevoke').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#managersRevoke').find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        var row = $(el).closest('tr');
                        var objectId = row.attr('id');
                        var displayString = row.children(1).text();
                        console.log(displayString);
                        ul.append('<li>' + objectId + ' ' + displayString + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#managersRevoke').modal('show');
                });

                $('.managers_table_actionButtons').on('click', '#changerole', function(event) {
                    event.preventDefault();
                    var content = $('#managersChangeRole').find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = $('#managersChangeRole').find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        var objectId = $(el).closest('tr').attr('id');
                        ul.append('<li>' + objectId + '</li>');
                        ul.append('<input name="id[]" value="' + objectId + '" class="hidden">');
                    });
                    $('#managersChangeRole').modal('show');
                });
            {% endif %}
        });
    </script>
{% endblock %}


{% block stylesheets %}
    {% stylesheets
        'css/tables.css'
        'css/modal.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
