{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}
    {% block stylesheets %}
        {% stylesheets
        'css/tables.css'
        'css/modal.css'
        filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <script>
        $(document).ready(function() {

            function populateList(ul, el) {
                var row = $(el).closest('tr');
                var displayString = $(row.children()[1]).text() + ' &lt;' + $(row.children()[2]).text() + '&gt;';
                var objectId = row.attr('id');
                ul.append('<li>' + displayString + '</li>');
                ul.append('<input name="userId[]" value="' + objectId + '" class="hidden">');
            }

            function populateList2(ul, el) {
                var row = $(el).closest('tr');
                var displayString = $(row.children()[1]).text() + ' &lt;' + $(row.children()[2]).text() + '&gt;';
                var objectId = row.attr('id');
                ul.append('<input name="userId[]" value="' + objectId + '" class="hidden">');
            }

            {% if members is defined and members|length %}
                var membersTableActionButtons = $('.members_table_actionButtons');
                var membersRemove = $('#membersRemove');
                var membersMessage = $('#membersMessage');
                var membersProposal = $('#membersProposal');
                var membersChangeRole = $('#membersChangeRole');

                $(document).on('click', '.modal#membersMessage button[type=submit]', function (event) {
                    event.preventDefault();
                    $('form[name=organization_user_message]').submit();
                });

                membersTableActionButtons.on('click', '#remove', function(event) {
                    event.preventDefault();
                    var content = membersRemove.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = membersRemove.find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    membersRemove.modal('show');
                });

                membersTableActionButtons.on('click', '#message', function(event) {
                    event.preventDefault();
                    var content = membersMessage.find('.modal-body-content');
                    var form = content.find('form');
                    form.append('<ul></ul>');
                    var ul = membersMessage.find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        populateList2(ul, el);
                    });
                    membersMessage.modal('show');
                });

                membersTableActionButtons.on('click', '#proposal', function(event) {
                    event.preventDefault();
                    var content = membersProposal.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = membersProposal.find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    membersProposal.modal('show');
                });

                membersTableActionButtons.on('click', '#changerole', function(event) {
                    event.preventDefault();
                    var content = membersChangeRole.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = membersChangeRole.find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    membersChangeRole.modal('show');
                });
            {% endif %}

            {% if managers is defined and managers|length %}
                var managersTableActionButtons = $('.managers_table_actionButtons');
                var managersRemove = $('#managersRemove');
                var managersMessage = $('#managersMessage');
                var managersRevoke = $('#managersRevoke');
                var managersChangeRole = $('#managersChangeRole');

                $(document).on('click', '.modal#managersMessage button[type=submit]', function (event) {
                    event.preventDefault();
                    $('form[name=organization_user_message_manager]').submit();
                });

                managersTableActionButtons.on('click', '#remove', function(event) {
                    event.preventDefault();
                    var content = managersRemove.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = managersRemove.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    managersRemove.modal('show');
                });

                managersTableActionButtons.on('click', '#message', function(event) {
                    event.preventDefault();
                    var content = managersMessage.find('.modal-body-content');
                    var form = content.find('form');
                    form.append('<ul></ul>');
                    var ul = managersMessage.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList2(ul, el);
                    });
                    managersMessage.modal('show');
                });

                managersTableActionButtons.on('click', '#revoke', function(event) {
                    event.preventDefault();
                    var content = managersRevoke.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = managersRevoke.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    managersRevoke.modal('show');
                });

                managersTableActionButtons.on('click', '#changerole', function(event) {
                    event.preventDefault();
                    var content = managersChangeRole.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = managersChangeRole.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    managersChangeRole.modal('show');
                });
            {% endif %}
        });
    </script>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error flash">
            <h4>There was some failure!</h4>
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success flash">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {% if managers is defined and managers|length %}
    <div class="row">
        <div class="col-md-15">
            {{ include(
                '::tables.html.twig',
                {
                    variant: 'red',
                    caption: 'Managers',
                    users: managers,
                    table_id: 'managers_table',
                    buttons: managers_buttons,
                    search_placeholder: 'Search manager',
                    checkbox_all: 'Orgmanagers'
                })
            }}
        </div>
        {{ include('::modal.html.twig',
            {
                id: 'managersRemove',
                title: 'Remove managers',
                bodyhead: 'Are you ready to remove these users from your organization?',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Remove',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_removeusers', {id: entity.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersMessage',
                title: 'Send message to selected users',
                button:
                {
                    text: 'Send',
                    class: 'btn-red'
                },
                bodycontent: form_start(sendEmailForm)
                ~ form_row(sendEmailForm.subject)
                ~ form_row(sendEmailForm.message)
                ~ form_end(sendEmailForm),
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersRevoke',
                title: 'Revoke manager status',
                bodyhead: 'Revoke managers status',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Revoke',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_revoke', {id: entity.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersChangeRole',
                title: 'Change role',
                bodyhead: 'Change the selected managers role',
                bodycontent: 'Itt lesz a user lista TODO',
                button:
                    {
                        text: 'Change roles',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_changerole', {id: entity.id })
            })
        }}
    </div>
    {% endif %}

    {% if members is defined and members|length %}
    <div class="row" style="margin-top: 48px;">
        <div class="col-md-15">
            {{ include(
                '::tables.html.twig',
                {
                    variant: 'blue',
                    caption: 'Members',
                    users: members,
                    table_id: 'members_table',
                    buttons: members_buttons,
                    search_placeholder:'Search member',
                    checkbox_all: 'Orgusers'
                })
            }}
        </div>

        {{ include('::modal.html.twig',
            {
                id: 'membersRemove',
                title: 'Remove members',
                bodyhead: 'Are you ready to remove these users from your organization?',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Remove',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_removeusers', {id: entity.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'membersMessage',
                title: 'Send message to selected users',
                bodycontent: form_start(sendMemberEmailForm)
                ~ form_row(sendMemberEmailForm.subject)
                ~ form_row(sendMemberEmailForm.message)
                ~ form_end(sendMemberEmailForm),
                button:
                    {
                        text: 'Send',
                        class: 'btn-red'
                    }
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'membersProposal',
                title: 'Propose members status',
                bodyhead: 'Propose members to managers',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Propose',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_propose', {id: entity.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'membersChangeRole',
                title: 'Change role',
                bodyhead: 'Change the selected members role',
                bodycontent: 'Itt lesz a textarea és a user lista TODO',
                button:
                    {
                        text: 'Change roles',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_changerole', {id: entity.id })
            })
        }}
    </div>
    {% endif %}

    {{ include('AppBundle:Organization:userInvitation.html.twig', {}) }}
    {% if invite_link is defined %}
        {{ include('AppBundle:Organization:userInvitationDone.html.twig', {}) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts
      '@datatables_js'
      'js/clipboard.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}