{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}
    {% block stylesheets %}
        {% stylesheets
        'css/tables.css'
        'css/modal.css'
        filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <script>
        $(document).ready(function() {

            function populateList(ul, el) {
                var row = $(el).closest('tr');
                var displayString = $(row.children()[1]).text() + ' &lt;' + $(row.children()[2]).text() + '&gt;';
                var objectId = row.attr('id');
                ul.append('<li>' + displayString + '</li>');
                ul.append('<input name="userId[]" value="' + objectId + '" class="hidden">');
            }

            function populateList2(ul, el) {
                var row = $(el).closest('tr');
                var displayString = $(row.children()[1]).text() + ' &lt;' + $(row.children()[2]).text() + '&gt;';
                var objectId = row.attr('id');
                ul.append('<input name="userId[]" value="' + objectId + '" class="hidden">');
            }

            {% if managers is defined and managers|length %}
                var managersTableActionButtons = $('.managers_table_actionButtons');
                var managersRemove = $('#managersRemove');
                var managersMessage = $('#managersMessage');
                var managersRevoke = $('#managersRevoke');
                var membersProposal = $('#membersProposal');
                var managersChangeRole = $('#managersChangeRole');

                managersTableActionButtons.on('click', '#remove', function(event) {
                    event.preventDefault();
                    var content = managersRemove.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = managersRemove.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    if('#members_table'){
                        $('#members_table input:checked').each(function(index, el) {
                            populateList(ul, el);
                        });
                    }
                    managersRemove.modal('show');
                });

                managersTableActionButtons.on('click', '#message', function(event) {
                    event.preventDefault();
                    var content = managersMessage.find('.modal-body-content');
                    var form = content.find('form');
                    form.append('<ul></ul>');
                    var ul = managersMessage.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList2(ul, el);
                    });
                    if('#members_table'){
                        $('#members_table input:checked').each(function(index, el) {
                            populateList2(ul, el);
                        });
                    }
                    managersMessage.modal('show');
                });
                $(document).on('click', '.modal#managersMessage button[type=submit]', function (event) {
                    event.preventDefault();
                    $('form[name=organization_user_message_manager]').submit();
                });

                managersTableActionButtons.on('click', '#revoke', function(event) {
                    event.preventDefault();
                    var content = managersRevoke.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = managersRevoke.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    managersRevoke.modal('show');
                });

                managersTableActionButtons.on('click', '#proposal', function(event) {
                    event.preventDefault();
                    var content = membersProposal.find('.modal-body-content');
                    content.empty();
                    content.append('<ul></ul>');
                    var ul = membersProposal.find('ul');
                    $('#members_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    membersProposal.modal('show');
                });

                managersTableActionButtons.on('click', '#changerole', function(event) {
                    event.preventDefault();
                    var content = managersChangeRole.find('.modal-body-content');
                    var form = content.find('form');
                    form.find('ul').remove();
                    form.prepend('<ul></ul>');
                    var ul = form.find('ul');
                    $('#managers_table input:checked').each(function(index, el) {
                        populateList(ul, el);
                    });
                    if('#members_table'){
                        $('#members_table input:checked').each(function(index, el) {
                            populateList(ul, el);
                        });
                    }
                    managersChangeRole.modal('show');
                });
                $(document).on('click', '.modal#managersChangeRole button[type=submit]', function (event) {
                    event.preventDefault();
                    var input = '<input type="hidden" name="action" value="'+$(this).val()+'">';
                    var form = $('form[name=organization_user_change_roles]');
                    form.append(input);
                    $('form[name=organization_user_change_roles]').submit();
                });

            {% endif %}
        });
    </script>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error flash">
            <h4>There was some failure!</h4>
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success flash">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% if managers is defined and managers|length %}
    <div class="row">
        <div class="col-md-15">
            {{ include(
                '::tables.html.twig',
                {
                    variant: 'red',
                    caption: 'Managers',
                    users: managers,
                    table_id: 'managers_table',
                    buttons: managers_buttons,
                    search_placeholder: 'Search users',
                    checkbox_all: 'Orgmanager'
                })
            }}
        </div>
        {{ include('::modal.html.twig',
            {
                id: 'managersRemove',
                title: 'Remove managers',
                bodyhead: 'Are you ready to remove these users from your organization?',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Remove',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_removeusers', {id: entity.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersMessage',
                title: 'Send message to selected users',
                button:
                {
                    text: 'Send',
                    class: 'btn-red'
                },
                bodycontent: form_start(sendEmailForm)
                ~ form_row(sendEmailForm.subject)
                ~ form_row(sendEmailForm.message)
                ~ form_end(sendEmailForm),
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersRevoke',
                title: 'Revoke manager status',
                bodyhead: 'Revoke managers status',
                bodycontent: 'Optional',
                button:
                    {
                        text: 'Revoke',
                        class: 'btn-red'
                    },
                formaction: path('app_organization_revoke', {id: entity.id })
            })
        }}

        {{ include('::modal.html.twig',
            {
                id: 'managersChangeRole',
                title: 'Change role',
                bodyhead: 'Change the selected users role',
                bodycontent: form(changeRolesForm),
                button:
                    {
                        text: 'Add roles',
                        class: 'btn-red',
                        value: 'add',
                        id: 'add_roles_button'
                    },
                rightbuttons:
                    [
                        {
                            text: 'Remove roles',
                            class: 'btn-red',
                            value: 'remove',
                            id: 'remove_roles_button'
                        },
                    ],
            })
        }}

        {{ include('::modal.html.twig',
        {
            id: 'membersProposal',
            title: 'Propose members status',
            bodyhead: 'Propose members to managers',
            bodycontent: 'Optional',
            button:
            {
                text: 'Propose',
                class: 'btn-red'
            },
            formaction: path('app_organization_propose', {id: entity.id })
        })
        }}
    </div>
    {% endif %}

    {% if members is defined and members|length %}
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-15">
            {{ include(
                '::tables.html.twig',
                {
                    variant: 'blue',
                    caption: 'Members',
                    users: members,
                    table_id: 'members_table',
                    checkbox_all: null,
                    form: 'false',
                    buttons: null,
                })
            }}
        </div>
    </div>
    {% endif %}

    {{ include('AppBundle:Organization:userInvitation.html.twig', {}) }}
    {% if invite_link is defined %}
        {{ include('AppBundle:Organization:userInvitationDone.html.twig', {}) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts
      '@datatables_js'
      'js/clipboard.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}