
{{ form_start(inviteForm) }}

{{ include('::modal.html.twig',
    {
        id: 'invite_1',
        title: 'Meghívó készítés',
        button:
            {
                text: 'Tovább',
                class: 'btn-blue'
            }
    })
}}

<div id="invite_1_bodycontent" style="display: none;">
    {{ form_row(inviteForm.message) }}
    {{ form_row(inviteForm.redirectUrl) }}
    {{ form_row(inviteForm.limit) }}
    {{ form_row(inviteForm.roles) }}
    {{ form_row(inviteForm.language) }}
</div>

{{ include('::modal.html.twig',
    {
      id: 'invite_2',
        title: 'Meghívó készítés',
        button:
            {
                text: 'Tovább',
                class: 'btn-blue'
            },
        rightbutton:
            {
                text: 'Vissza',
            }
    })
}}
<div id="invite_2_bodycontent" style="display: none;">
    {{ form_row(inviteForm.begin) }}
    {{ form_row(inviteForm.end) }}
    {{ form_end(inviteForm) }}
</div>

<script>
    $(document).ready(function() {

        $(document).on('click', 'button#invite', function(event) {
            event.preventDefault();
            $('.modal#invite_1 .modal-body-content').html($('#invite_1_bodycontent').html());
            $('#invite_1').modal({ backdrop: 'static'});            
        });

        $(document).on('click', '.modal#invite_1 button[type=submit]', function(event) {
            event.preventDefault();
            $('#invite_1').modal('hide');
            $('.modal#invite_2 .modal-body-content').html($('#invite_2_bodycontent').html());
            $('#invite_2').modal({ backdrop: 'static'});            
        });

        $(document).on('click', '.modal#invite_2 button[type=submit]', function(event) {
            event.preventDefault();
            $('form[name=organization_user_invitation]').submit();
        });


        $(document).on('click', '.modal#invite_2 button#rightbutton', function(event) {
            event.preventDefault();
            $('#invite_2').modal('hide');
            $('#invite_1').modal('show');
        });
    });
</script>