{% extends "::base.html.twig" %}

{% block title %}Add service{% endblock %}
{% block stylesheets %}
    {% stylesheets 'css/tables.css'
                   'css/createservice.css' 
                    filter='cssrewrite' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}    
    {% javascripts
            '@datatables_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <form action="{{ path('app_service_addstepthree')}}" method="POST" role="form">

        <div class="formcontainer" style="text-align:center; width:800px">
            <div class="header" style="height:50px">
                <div class="title pull-left" style="padding-top:10px">Create service </div>
                <button type="submit" class="btnhexaa btn-blue btnhexaa-md pull-right">Next</button>
                <a href="{{ path('app_service_addstepone') }}" type="button" class="btnhexaa btn-red btnhexaa-md pull-right">Back</a>
            </div>
            <div class="progress" style="width:800px">
                <div class="progress-bar" role="progressbar" style="width:40%">
                </div>
            </div>
            <div class="todo">Válaszd ki a használni kívánt attribútumokat.</div>
            <br>
            <div class="form-group" style="width:800px">
                {{ include('::tables.html.twig', {variant: 'blue', form: true, tdcolor:'form', checkbox: true, attributes: true, users: attributes, table_id: 'attributes_table', buttons: null }) }}
            </div>
        </div>
    </form>
{% endblock %}
