{% extends "AppBundle:Service:layout.html.twig" %}

{% block title %}Claim service{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'css/progressbar.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block container %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error flash">
            <h4>There was some failure!</h4>
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success flash">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {{ form_start(emailForm) }}

    <div id="third" class="progresswrapper">
        <div class="row">
            <div class="col-md-11 col-md-offset-2">
                {{ include('::progressbar.html.twig',
                {
                    header: 'Send email to SP contact',
                    percent: 75,
                    done: 'finish',
                }
                ) }}
            </div>
        </div>


        <div class="text-center progressbar-order">Select which type of SP contact would you like to send email
        </div>
        <fieldset id="createServiceFormFields">
            {{ form_row(emailForm.contactType) }}
        </fieldset>

    </div>


    {{ form_end(emailForm) }}

    {% javascripts
    '@typeahead_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}

{% block javascripts %}
    <script>
        {{ include('::progressbar.js.twig') }}
    </script>
{% endblock %}


