{% extends "AppBundle:Service:layout.html.twig" %}

{% block title %}Add service{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'css/progressbar.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block container %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error flash">
            <h4>There was some failure!</h4>
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success flash">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {{ form_start(form) }}

    <div id="first" class="progresswrapper">
        <div class="row">
            <div class="col-md-11 col-md-offset-2">
                {{ include('::progressbar.html.twig',
                {
                    header: 'Create service',
                    percent: 25,
                    next_id: 'second',
                    next_button_id: 'next-1'
                }
                ) }}
            </div>
        </div>


        <div class="text-center progressbar-order">Enter your service's main parameters
        </div>
        <fieldset id="createServiceFormFields">
            {{ form_row(form.name) }}
            <br><br>
            {{ form_row(form.description) }}
            <br><br>
            {{ form_row(form.url) }}
            <br><br>
            <div id="scrollable-dropdown-menu">
            {{ form_row(form.entityid) }}
            </div>
        </fieldset>

    </div>


    <div id="second" class="hidden progresswrapper">
        <div class="row">
            <div class="col-md-11 col-md-offset-2">
                {{ include('::progressbar.html.twig',
                {
                    header: 'Create service',
                    prev_id: 'first',
                    done: 'next',
                    percent: 50,
                }
                ) }}
            </div>
        </div>

        <div class="text-center progressbar-order">Create your entitlements of your service</div>
        <fieldset>
            {{ form_row(form.entitlement) }}
            <br><br>
            {{ form_row(form.entitlementplus1) }}
            <br><br>
            {{ form_row(form.entitlementplus2) }}
        </fieldset>
    </div>


    {{ form_end(form) }}

    {% javascripts
    '@typeahead_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ form_javascript(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        {{ include('::progressbar.js.twig') }}
    </script>
{% endblock %}


