{% extends "AppBundle:Service:layout.html.twig" %}

{% block container %}

    {% block stylesheets %}
        {% stylesheets
        'css/panel.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% javascripts
    '@typeahead_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ form_javascript(propertiesform) }}
    <script>

        function property() {
            $(".propertyblocknoedit").addClass('hidden');
            $(".sendbutton").removeClass('hidden');
            $(".propertyblockedit").removeClass('hidden');
        }

        function owner() {
            $(".ownerblocknoedit").addClass('hidden');
            $(".sendownerbutton").removeClass('hidden');
            $(".ownerblockedit").removeClass('hidden');
        }

        function privacy() {
            $(".privacyblocknoedit").addClass('hidden');
            $(".sendprivacybutton").removeClass('hidden');
            $(".privacyblockedit").removeClass('hidden');
        }

        function cancelproperty() {
            $(".propertyblocknoedit").removeClass('hidden');
            $(".sendbutton").addClass('hidden');
            $(".propertyblockedit").addClass('hidden');
        }

        function cancelowner() {
            $(".ownerblocknoedit").removeClass('hidden');
            $(".sendownerbutton").addClass('hidden');
            $(".ownerblockedit").addClass('hidden');
        }

        function cancelprivacy() {
            $(".privacyblocknoedit").removeClass('hidden');
            $(".sendprivacybutton").addClass('hidden');
            $(".privacyblockedit").addClass('hidden');
        }

    </script>


    <br>
    <div class="propertyblocknoedit" id="row">
        {{ include('::panel.html.twig', { heading: "Properties", buttonappear: "inline", main: main, items: propertiesbox, changeedit:"property", changebutton:"property()", pencilid:"1"}) }}
    </div>

    <div class="propertyblockedit hidden">
        {{ form_start(propertiesform) }}
        <div class="header" style="padding-top:0.5em">
            Properties
            <button type="submit" class="sendbutton pull-right" alt="done-1" id="done1"><i
                        class="material-icons" alt="done-1" name="done-1">done</i></button>
            <button type="button" id="cancelbutton" class="actionbutton pull-right" onclick="cancelproperty()"><i
                        class="material-icons">cancel</i></button>
        </div>
        <div>
            {{ form_row(propertiesform.serviceName) }}
        </div>
        <div>
            {{ form_row(propertiesform.serviceDescription) }}
        </div>
        <div>
            {{ form_row(propertiesform.serviceURL) }}
        </div>
        <div id="scrollable-dropdown-menu">
            {{ form_row(propertiesform.serviceSAML) }}
        </div>

        {{ form_end(propertiesform) }}
    </div>

    <br>
    <div class="ownerblocknoedit" id="row">
        {{ include('::panel.html.twig', { heading: "Owner details", buttonappear: "inline", main: main, items: ownerbox, changeedit:"owner", changebutton:"owner()", pencilid:"2"}) }}
    </div>

    <div class="ownerblockedit hidden">
        {{ form_start(ownerform) }}
        <div class="header" style="padding-top:0.5em">
            Owner details
            <button type="submit" class="sendownerbutton pull-right" id="done2"><i
                        class="material-icons">done</i></button>
            <button type="button" id="cancelbutton" class="actionbutton pull-right" onclick="cancelowner()"><i
                        class="material-icons">cancel</i></button>
        </div>
        <div>
            {{ form_row(ownerform.serviceOwnerName) }}
        </div>
        <div>
            {{ form_row(ownerform.serviceOwnerShortName) }}
        </div>
        <div>
            {{ form_row(ownerform.serviceOwnerDescription) }}
        </div>
        <div>
            {{ form_row(ownerform.serviceOwnerURL) }}
        </div>
        {{ form_end(ownerform) }}
    </div>

    <br>
    <div class="privacyblocknoedit" id="row">
        {{ include('::panel.html.twig', { heading: "Privacy information", buttonappear: "inline", main: main, items: privacybox, changeedit:"privacy", changebutton:"privacy()", pencilid:"3"}) }}
    </div>

    <div class="privacyblockedit hidden">
        {{ form_start(privacyform) }}
        <div class="header" style="padding-top:0.5em">
            Privacy Information
            <button type="submit" class="sendprivacybutton pull-right" id="done3"><i
                        class="material-icons" id="ic1">done</i></button>
            <button type="button" id="cancelbutton" class="actionbutton pull-right" onclick="cancelprivacy()"><i
                        class="material-icons">cancel</i></button>
        </div>
        <div>
            {{ form_row(privacyform.servicePrivacyURL) }}
        </div>
        <div>
            {{ form_row(privacyform.servicePrivacyDescription) }}
        </div>
        {{ form_end(privacyform) }}
    </div>

{% endblock %}
