<script>
    function toggleAccordion(e) {
        e.classList.toggle("active");
        if ($(e).hasClass('active')) {
            $(e).find('.caretbutton').removeClass('fa-caret-down').addClass('fa-caret-up');
        } else {
            $(e).find('.caretbutton').removeClass('fa-caret-up').addClass('fa-caret-down');
        }
        var panel = e.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
</script>

<div class="accordion-container accordion-style-{{ variant }}">
    <div class="accordion-header">{{ heading }}</div>
    <div>
        {% for item in items %}
            <div onclick="toggleAccordion(this);" class="accordion-title accordion-title-style-{{ variant }}">
                {{item.title}}
                <span class="accordion-buttons pull-right"><i class="caretbutton fa fa-caret-down"></i></span>
            </div>
            <div class="accordion-panel accordion-panel-style-{{ variant }}">
                {% if item.subaccordions is defined %}
                    {% for subaccordion in item.subaccordions %}
                        <div class="accordion-container accordion-style-{{ subaccordion.variant }}">
                            
                            <div class="accordion-header"></div>
                            <div onclick="toggleAccordion(this);" class="accordion-title accordion-title-style-{{ subaccordion.variant }}">{{subaccordion.title}}
                                <span class="accordion-buttons pull-right">
                                {% if subaccordion.buttons is defined %}
                                        {% for id, button in subaccordion.buttons %}
                                            <span {% if id is defined %} id="{{ id }}"{% endif %} class=" btnhexaa btnhexaa-xs {% if button.class is defined %} {{ button.class }} {% endif %}" alt="{{ button.alt }}"><i class="fa fa-{{button.icon}}"></i></span>
                                        {% endfor %}
                                {% endif %}
                                <i class="caretbutton fa fa-caret-down"></i>
                                </span>
                            </div>
                            <div class="accordion-panel accordion-panel-style-{{ subaccordion.variant }}">
                                <table cellspacing="0" class="accordion">
                                {% for content in subaccordion.contents %}
                                    <tr class="accordion">
                                        <td class="{% if not loop.first %}accordion-hr{% endif %} accordion accordion-key">{{content.key}}</td>
                                        <td class="{% if not loop.first %}accordion-hr{% endif %} accordion">
                                            <ul class="accordion">
                                                {% for listitem in content.values %}
                                                    <li>{{ listitem }}
                                                    {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <table cellspacing="0" class="accordion">
                        {% for content in item.contents %}
                            <tr class="accordion">
                                <td class="{% if loop.index != 1 %}accordion-hr{% endif %} accordion accordion-key">{{content.key}}</td>
                                <td class="{% if loop.index != 1 %}accordion-hr{% endif %} accordion">
                                    <ul class="accordion">
                                        {% for listitem in content.values %}
                                            <li>{{ listitem }}
                                            {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

