{# 
usage in twig:
{{ include('::tables.html.twig', {heading: 'foobar', variant: 'dark/light', items: items}) }}

usage in symfony:
return $this->render(
            'AppBundle:Whatever.html.twig',
            array(
                "items" => array(
                // accordion 1
                array(
                    "title" => "Accord1",
                    "contents" => array(
                        // accordion1 content 1
                        array(
                            "key" => "property a",
                            "values" => array("x")
                        ),
                        // accordion1 content 2
                        array(
                            "key" => "property b",
                            "values" => array("a", "b", "c")
                        )
                    )
                ),
                // accordion 2
                array(
                    "title" => "Accord2",
                    "contents" => array(
                        // accordion2 content 1
                        array(
                            "key" => "property dzs",
                            "values" => array("e", "f")
                        )
                    )
                ),
            )
        );

usage in php: 

echo $twig->render('accordions.html.twig', array(
    "heading" => "Accordion Head",
    "variant" => "dark", // or "light 
    "items" => array(
        // accordion 1
        array(
            "title" => "Accord1",
            "contents" => array(
                // accordion1 content 1
                array(
                    "key" => "property a",
                    "values" => array("x")
                ),
                // accordion1 content 2
                array(
                    "key" => "property b",
                    "values" => array("a", "b", "c")
                )
            )
        ),
        // accordion 2
        array(
            "title" => "Accord2",
            "contents" => array(
                // accordion2 content 1
                array(
                    "key" => "property dzs",
                    "values" => array("e", "f")
                )
            )
        ),
        
    )
        )
);

#}
<script>
    function toggleAccordion(
            e) {
        e.classList.toggle("active");

        var panel = e.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
</script>

<div class="accordion-container accordion-style-{{ variant }}" style="max-width:500px;">
    <div class="accordion-header">{{ heading }}</div>
    <div>
        {% for item in items %}
            <button onclick="toggleAccordion(this);" class="accordion accordion-style-{{ variant }}">{{item.title}}</button>
            <div class="accordion-panel accordion-panel-style-{{ variant }}">
                <table cellspacing="0" class="accordion">
                    {% for content in item.contents %}
                        <tr class="accordion">
                            <td class="{% if loop.index != 1 %}accordion-hr{% endif %} accordion accordion-key">{{content.key}}</td>
                            <td class="{% if loop.index != 1 %}accordion-hr{% endif %} accordion">
                                <ul class="accordion">
                                    {% for listitem in content.values %}
                                        <li>{{ listitem }}
                                        {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>