<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HEXAA{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
            <link rel="stylesheet" type="text/css" href="/css/menu.css">
            <link rel="stylesheet" type="text/css" href="/css/service.css">
            <link rel="stylesheet" type="text/css" href="/css/organization.css">
            <link rel="stylesheet" type="text/css" href="/css/profile.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/css/mobile.css">
            <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <script>
            function orgClick() {
                document.getElementById("orgSelect").classList.toggle("show");
            }
            function servClick() {
                document.getElementById("servSelect").classList.toggle("show");
            }
            function hamburgerClick() {
                document.getElementById("hamburgerSelect").classList.toggle("show");
            }
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn') && (!event.target.matches('.servicecl'))) {
                    var dropdowns1 = document.getElementsByClassName("dropdown-content1");
                    var dropdowns2 = document.getElementsByClassName("dropdown-content2");
                    var dropdowns3 = document.getElementsByClassName("hamburgerclass");
                    var i;
                    for (i = 0; i < dropdowns1.length; i++) {
                        var openDropdown = dropdowns1[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                    for (i = 0; i < dropdowns2.length; i++) {
                        var openDropdown = dropdowns2[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                    for (i = 0; i < dropdowns3.length; i++) {
                        var openDropdown = dropdowns3[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
                if (event.target.matches('.servicecl')) {
                    var dropdownorg = document.getElementById("orgSelect");
                    if (dropdownorg.classList.contains('show')) {
                        dropdownorg.classList.remove('show');
                    }
                }
                if (event.target.matches('.dropbtn')) {
                    var dropdownorg = document.getElementById("servSelect");
                    if (dropdownorg.classList.contains('show')) {
                        dropdownorg.classList.remove('show');
                    }
                }
            }
        </script>
        <div id="topdiv">
            <div id="topdivcontent">
                <div id="cornerlogobox">
                    <a href="{{ path('homepage')}}">
                        <img id="cornerlogo" src="/img/hexaa-logo-blue.png" alt="hexaa logo"/>
                    </a>
                </div>

                <div id="menudiv">
                    {% if app.user != null %}
                        <div id="leftpanel">
                            {% if organizations is defined %}
                                <div class="dropdowns">
                                    <button onclick="orgClick()" class="dropbtn">
                                        Organizations
                                    </button>
                                    {% if organizations.items != null %}
                                        <div id="orgSelect" class="dropdown-content1">
                                            {% for organization in organizations.items %}
                                                <a href="{{ path("app_organization_show", { id: organization.id }) }}" id="nameoneorg">{{ organization.name|e }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if services is defined %}
                                <div class="dropdowns">
                                    <button onclick="servClick()" class="servicecl">
                                        Services
                                    </button>
                                    {% if services.items != null %}
                                        <div id="servSelect" class="dropdown-content2">
                                            {% for service in services.items %}
                                                <a href="{{ path("app_service_show", { id: service.id }) }}"> {{ service.name|e }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    <button onclick="hamburgerClick()" id="hamburger">
                        <span class="glyphicon glyphicon-menu-hamburger white" aria-hidden="true"></span>
                    </button>
                    <div id="hamburgerSelect" class="hamburgerClass">
                        <div class="accordionhamburger">
                            <span class="hamburgercontentname">
                                Organizations
                            </span>
                        </div>
                        <div class="panelaccordionhamburger">
                            <div class="link">
                                <a href="#" class="hamburgercontentpanelname" onclick="showorgsubmenu();">Egy org</a>
                            </div>
                        </div>
                        <div class="accordionhamburger">
                            <span class="hamburgercontentname">
                                Services
                            </span>
                        </div>
                        <div class="panelaccordionhamburger">
                            <div class="link">
                                <a href="#" class="hamburgercontentpanelname" onclick="showservsubmenu();">Egy services</a>
                            </div>
                            <div class="link">
                                <a href="#" class="hamburgercontentpanelname" onclick="showservsubmenu();">Két services</a>
                            </div>
                        </div>
                        <div class="link">
                            <a href="" class="hamburgercontentname"><span class="glyphicon glyphicon-user user"></span>Profile</a>
                        </div>
                        <div class="link">
                            <a href="" class="hamburgercontentname"><span class="glyphicon glyphicon-off off"></span>Log out</a>
                        </div>
                        <div id="organizationssubmenu" class="orgsubclass">
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Properties</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Users</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Roles</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Connected services</a>
                            </div>
                        </div>
                        <div id="servicesssubmenu" class="servsubclass">
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Properties</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Managers</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Attributes</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Permissions</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Permissions sets</a>
                            </div>
                            <div class="linksubmenu">
                                <a href="" class="hamburgercontentname">Connected organizatons</a>
                            </div>
                        </div>
                    </div> 

                    <div id="container">

                        {% if app.user != null %}
                            <div id="loginstatus"><span id="usernamebox">{{ app.user.username }}</span></div>
                            {% endif %}
                       
                        <div id="logout">
                            <span id="logobox">
                                <a href="">
                                    <img id="logpng" src="/img/logout.png">
                                </a>
                            </span>
                        </div>


                    </div>

                </div>


            </div>

        </div>

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script>
            function hamburgerClick() {
                document.getElementById("hamburgerSelect").classList.toggle("show");
            }

            var acc = document.getElementsByClassName("accordionhamburger");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function () {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                    if (document.getElementById("servicesssubmenu").classList.contains("show")) {
                        document.getElementById("servicesssubmenu").classList.remove("show");
                    }
                    if (document.getElementById("organizationssubmenu").classList.contains("show")) {
                        document.getElementById("organizationssubmenu").classList.remove("show");
                    }
                }
            }

            function showorgsubmenu() {
                if (document.getElementById("servicesssubmenu").classList.contains("show")) {
                    document.getElementById("servicesssubmenu").classList.remove("show");
                }
                if (document.getElementById("organizationssubmenu").classList.contains("show")) {
                    document.getElementById("organizationssubmenu").classList.remove("show");
                }
                document.getElementById("organizationssubmenu").classList.toggle("show");
            }

            function showservsubmenu() {
                if (document.getElementById("organizationssubmenu").classList.contains("show")) {
                    document.getElementById("organizationssubmenu").classList.remove("show");
                }
                if (document.getElementById("servicesssubmenu").classList.contains("show")) {
                    document.getElementById("servicesssubmenu").classList.remove("show");
                }
                document.getElementById("servicesssubmenu").classList.toggle("show");
            }
        </script>
    {% endblock %}

</body>
</html>
