<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HEXAA{% endblock %}</title>

        {% stylesheets
            '@bootstrap_css'
            'css/hexaagrid.css'
            'css/mainpage.css'
            'css/menu.css'
            'css/service.css'
            'css/profile.css'
            'css/mobile.css'
            'css/buttons.css'
            'css/tables.css'
            'css/panel.css'
            'css/navbarwidget.css'
            filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% javascripts
            '@jquery_js'
            '@bootstrap_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <div id="topdiv">
            <div id="topdivcontent">
                <div id="cornerlogobox">
                    <a href="{{ path('homepage')}}">
                        <img id="cornerlogo" src="/img/hexaa-logo-blue.png" alt="hexaa logo"/>
                    </a>
                </div>

                <div id="menudiv">
                    {% if app.user != null %}
                        <div id="leftpanel">
                            {% if organizations is defined %}
                                <div class="dropdowns">
                                    <button onclick="orgClick()" class="dropbtn">
                                        Organizations
                                    </button>
                                    {% if organizations.items != null %}
                                        <div id="orgSelect" class="dropdown-content1">
                                            {% for organization in organizations.items %}
                                                <a href="{{ path("app_organization_show", { id: organization.id }) }}" id="nameoneorg">{{ organization.name|e }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if services is defined %}
                                <div class="dropdowns">
                                    <button onclick="servClick()" class="servicecl">
                                        Services
                                    </button>
                                    {% if services.items != null %}
                                        <div id="servSelect" class="dropdown-content2">
                                            {% for service in services.items %}
                                                <a href="{{ path("app_service_show", { id: service.id }) }}"> {{ service.name|e }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div id="container">
                        {% if app.user != null %}
                            <div id="loginstatus"><span id="usernamebox">{{ app.user.username }}</span></div>
                            {% endif %}

                        <div id="logout">
                            <span id="logobox">
                                <a href="">
                                    <img id="logpng" src="/img/logout.png">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if app.request.get('_route')=="homepage" %}
            {{ include('::navbar.html.twig', {names:null}) }}
        {% endif %}
        {% block body %}

        {% endblock %}

        <script>
            function orgClick() {
                $("#orgSelect")[0].classList.toggle("show");
            }
            function servClick() {
                $("#servSelect")[0].classList.toggle("show");
            }

            window.onclick = function (
                    event) {
                if (!event.target.matches('.dropbtn') && (!event.target.matches('.servicecl'))) {
                    var dropdowns1 = $(".dropdown-content1");
                    var dropdowns2 = $(".dropdown-content2");
                    var dropdowns3 = $(".hamburgerclass");
                    var i;
                    for (i = 0; i < dropdowns1.length; i++) {
                        var openDropdown = dropdowns1[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                    for (i = 0; i < dropdowns2.length; i++) {
                        var openDropdown = dropdowns2[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                    for (i = 0; i < dropdowns3.length; i++) {
                        var openDropdown = dropdowns3[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
                if (event.target.matches('.servicecl')) {
                    var dropdownorg = $("#orgSelect")[0];
                    if (dropdownorg.classList.contains('show')) {
                        dropdownorg.classList.remove('show');
                    }
                }
                if (event.target.matches('.dropbtn')) {
                    var dropdownorg = $("#servSelect")[0];
                    if (dropdownorg.classList.contains('show')) {
                        dropdownorg.classList.remove('show');
                    }
                }
            }

            function showservsubmenu(
                    servid) {
                if ($("#organizationssubmenu")[0].classList.contains("show")) {
                    $("#organizationssubmenu")[0].classList.remove("show");
                }
                if ($("#servicesssubmenu")[0].classList.contains("show")) {
                    $("#servicesssubmenu")[0].classList.remove("show");
                }
                $("#servicesssubmenu")[0].classList.toggle("show");

                $("#servicesssubmenu").empty();

                $("<div class='linksubmenu' id='servprop'></div>").appendTo("#servicesssubmenu");
                $("<a class='hamburgercontentname' id='linktoprop'>Properties</a>").appendTo("#servprop");

                $("<div class='linksubmenu' id='servman'></div>").appendTo("#servicesssubmenu");
                $("<a class='hamburgercontentname' id='linktoman'>Managers</a>").appendTo("#servman");

                $("<div class='linksubmenu' id='servattr'></div>").appendTo("#servicesssubmenu");
                $("<a class='hamburgercontentname' id='linktoattr'>Attributes</a>").appendTo("#servattr");

                $("<div class='linksubmenu' id='servperm'></div>").appendTo("#servicesssubmenu");
                $("<a class='hamburgercontentname' id='linktoperm'>Permissions</a>").appendTo("#servperm");

                $("<div class='linksubmenu' id='servpermsets'></div>").appendTo("#servicesssubmenu");
                $("<a class='hamburgercontentname' id='linktopermsets'>Permissions sets</a>").appendTo("#servpermsets");

                $("<div class='linksubmenu' id='servorg'></div>").appendTo("#servicesssubmenu");
                $("<a class='hamburgercontentname' id='linktoorg'>Connected organizations</a>").appendTo("#servorg");

                $("#linktoprop").click(function () {
                    var url = '{{ path("app_service_properties", {'id': 'servid'}) }}';
                    url = url.replace("servid", servid);
                    window.location = url;
                });

                $("#linktoman").click(function () {
                    var url = '{{ path("app_service_managers", {'id': 'servid'}) }}';
                    url = url.replace("servid", servid);
                    window.location = url;
                });

                $("#linktoattr").click(function () {
                    var url = '{{ path("app_service_attributes", {'id': 'servid'}) }}';
                    url = url.replace("servid", servid);
                    window.location = url;
                });

                $("#linktoperm").click(function () {
                    var url = '{{ path("app_service_permissions", {'id': 'servid'}) }}';
                    url = url.replace("servid", servid);
                    window.location = url;
                });

                $("#linktopermsets").click(function () {
                    var url = '{{ path("app_service_permissionssets", {'id': 'servid'}) }}';
                    url = url.replace("servid", servid);
                    window.location = url;
                });

                $("#linktoorg").click(function () {
                    var url = '{{ path("app_service_connectedorganizations", {'id': 'servid'}) }}';
                    url = url.replace("servid", servid);
                    window.location = url;
                });
            }
        </script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
