<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}HEXAA{% endblock %}</title>


    {% block stylesheets %}
    {% endblock %}

    {% stylesheets
    '@bootstrap_css'
    '@material_css'
    '@opensans_css'
    'css/fonts.css'
    'css/hexaagrid.css'
    'css/mainpage.css'
    'css/menu.css'
    'css/profile.css'
    'css/mobile.css'
    'css/buttons.css'
    'css/navbarwidget.css'
    'css/mainnavbar.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% javascripts
    '@jquery_js'
    '@bootstrap_js'
    'js/jquery.validate.js'
    'js/loader.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img id="cornerlogo" src="/img/hexaa-logo-blue.png" alt="hexaa logo"/>
            </a>
        </div>
        <ul class="nav navbar-nav">
           {#<li class="active"><a href="#">Home</a></li>#}
            {% if organizations is defined %}
                <li class="dropdown" id="org">
                    <a class="dropdown-toggle" id="fullfill" data-toggle="dropdown" href="#">Organizations
                         <span class="caret"> </span></a>
                    {% if organizations.items != null %}
                        <ul class="dropdown-menu">
                            {% for organization in organizations.items %}
                                <li><a href="{{ path("app_organization_show", { id: organization.id }) }}">{{ organization.name|e }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
            {% if services is defined and services.item_number > 0 %}
                <li class="dropdown" id="serv">
                    <a class="dropdown-toggle" id="fullfill" data-toggle="dropdown" href="#">Services
                        <span class="caret"> </span></a>
                    {% if services.items != null %}
                        <ul class="dropdown-menu">
                            {% for service in services.items %}
                                <li><a href="{{ path("app_service_show", { id: service.id }) }}">{{ service.name|e }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
            {% if admin is defined and (admin == "true" or admin == "1") %}
                <li id="admin" {% if app.request.get('_route') starts with "app_admin" %} class="active" {% endif %}><a id="fullfill" href="{{ path("app_admin_attributes", { admin: admin }) }}">Admin</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path("app_profile_index") }}">{{ app.user.username }}</a></li>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_default_login') }}" id="login_button" role="button">
                        <img id="logpng" src="/img/logout.png">
                    </a></li>
            {% else %}
                <li><a href="{{ logout_path('default') }}" id="logout_button" role="button">
                        <img id="logpng" src="/img/logout.png">
                    </a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{#<div id="topdiv">
    <div id="topdivcontent">
        <div id="cornerlogobox">
            <a href="{{ path('homepage') }}">
                <img id="cornerlogo" src="/img/hexaa-logo-blue.png" alt="hexaa logo"/>
            </a>
        </div>

        <div id="menudiv">
            {% if app.user != null %}
                <div id="leftpanel">
                    {% if organizations is defined %}
                        <div class="dropdowns">
                            <button onclick="orgClick()" class="dropbtn">
                                Organizations
                            </button>
                            {% if organizations.items != null %}
                                <div id="orgSelect" class="dropdown-content1">
                                    {% for organization in organizations.items %}
                                        <a href="{{ path("app_organization_show", { id: organization.id }) }}"
                                           id="nameoneorg">{{ organization.name|e }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if services is defined and services.item_number > 0 %}
                        <div class="dropdowns">
                            <button onclick="servClick()" class="servicecl">
                                Services
                            </button>
                            {% if services.items != null %}
                                <div id="servSelect" class="dropdown-content2">
                                    {% for service in services.items %}
                                        <a href="{{ path("app_service_show", { id: service.id }) }}"> {{ service.name|e }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if admin is defined and (admin == "true" or admin == "1") %}
                        <div class="dropdowns">
                                <a href="{{ path("app_admin_attributes", { admin: admin }) }}" class="adminhref" style="text-decoration:none;">
                                    Admin
                                </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div id="container">
                {% if app.user != null %}
                    <div id="loginstatus"> <a href="{{ path("app_profile_index") }}" class="usernamehref" style="text-decoration:none;">{{ app.user.username }}</a></div>
                {% endif %}

                <div id="logout">
                    <span id="logobox">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_default_login') }}" id="login_button" role="button">
                                <img id="logpng" src="/img/logout.png">
                            </a>
                        {% else %}
                            <a href="{{ logout_path('default') }}" id="logout_button" role="button">
                                <img id="logpng" src="/img/logout.png">
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>#}
{% if app.request.get('_route')=="homepage" %}
    {{ include('::navbar.html.twig', {names:null}) }}
{% endif %}

{% block alertcontainer %}
    <div class="alert-danger alert alertContainer hidden">
        Alert <div id="alert"></div>
    </div>
{% endblock %}

<div class="body-container">
{% block body %}
{% endblock %}
</div>

<script>
    $(document).ready(function () {

        /* jquery.validate defaults */
        $.validator.setDefaults({
            errorClass: "help-block has-error",
            errorElement: "p"
        });

        // tooltip init
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    })

    function alert(message) {
        $('#alert').text(message);
        $('.alertContainer').removeClass('hidden');
    }

</script>
{% block javascripts %}
{% endblock %}

</body>
</html>
