{#

Usage:

{{ include('::modal.html.twig',
    {
        id: 'modalBoxId',
        title: 'Modal title',
        bodyhead: 'Optional header text in modal-body',
        bodycontent: 'Optional content in modal-body',
        button:
            {
                text: 'text of form submitter button',
                class: 'btn-red'
                id: 'idofthebutton
            },
        leftbutton: // optional
            {
                text: 'text of form back or cancel left button',
                class: 'btn-blue' //optional
                id: 'id_of_leftbutton' //optional
                dismiss: true/false //optional if true on click the modal is close
            }
        formaction: path('app_anything_actions_route_path_with_paramters', {id: anything.id }) //optional
    })
}}

{% block stylesheets %}
    {% stylesheets
        'css/modal.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

<script>
    $(document).ready(function() {
        $('.any_wrapper_element_actionButtons').on('click', '#buttonId', function(event) {
            event.preventDefault();
            var content = $('#modalBoxId').find('.modal-body-content');
            content.empty();
            content.append('New text in modal content');
            $('#modalBoxId').modal('show');
        });
    });
</script>

#}

<div class="modal fade" id="{{ id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            {% if formaction is defined %}
            <form action="{{ formaction }}" method="POST">{% endif %}
                <div class="modal-header">
                    <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true"><i
                                class="material-icons" style="color: black">clear</i></button>
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-head">{% if bodyhead is defined %}{{ bodyhead }}{% endif %}</div>
                    <div class="modal-body-content">{% if bodycontent is defined %}{{ bodycontent|raw }}{% endif %}</div>
                </div>
                <div class="modal-footer">
                    {% if leftbutton is defined %}
                        <button type="button" id="{% if leftbutton.id is defined %}{{ leftbutton.id }}{% else %}leftbutton{% endif %}"
                                class="btnhexaa {% if leftbutton.class is defined %}{{ leftbutton.class }}{% else %}btn-blue{% endif %}" {% if leftbutton.dismiss is defined %} data-dismiss="modal" {% endif %}>{{ leftbutton.text }}</button>
                    {% else %}
                        <button type="button" id="leftbutton" class="btnhexaa btn-blue" data-dismiss="modal">Cancel</button>
                    {% endif %}
                    <button type="submit" {% if button.id is defined %} id="{{ button.id }}" {% endif %}
                            class="pull-right btnhexaa {{ button.class }}">{{ button.text }}</button>
                </div>
                {% if formaction is defined %}</form>{% endif %}
        </div>
    </div>
</div>