<script type="text/javascript">
    function hamburgerClick() {
        $("#hamburgerSelect")[0].classList.toggle("show");
    }

</script>

<button onclick="hamburgerClick()" id="hamburger">
    <span class="glyphicon glyphicon-menu-hamburger white" aria-hidden="true"></span>
</button>
<div id="befoglalo">
    <div id="hamburgerSelect" class="hamburgerClass">

        <div class="accordionhamburger" id="orgaccordion">
            <span class="hamburgercontentname">
                Organizations
            </span>
        </div>
        <div class="panelaccordionhamburger">
            {% for organization in organizations.items %}
                <div class="link">
                    <a href="{{ path('app_organization_show', {id: organization.id}) }}" class="hamburgercontentpanelname">{{ organization.name|e }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="accordionhamburger" id="servaccordion">
            <span class="hamburgercontentname">
                Services
            </span>
        </div>
        <div class="panelaccordionhamburger">
            {% for service in services.items %}
                <div class="link">
                    <a href="{{ path('app_service_show', {id: service.id}) }}" class="hamburgercontentpanelname">{{ service.name|e }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="link">
            <a href="{{ path('app_profile_index') }}" class="hamburgercontentname"><span class="glyphicon glyphicon-user user"></span>Profile</a>
        </div>
        <div class="link">
            <a href="" class="hamburgercontentname"><span class="glyphicon glyphicon-off off"></span>Log out</a>
        </div>

        {% if organization is defined and names %}
            <div class="hamburgercontainer">
                {% for key,value in names %}
                    <div class="hamburgerlinkdivstyle">
                        <a class="hamburgercontentname" href="{{ path(key, {id: organization.id}) }}">{{value}}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if service is defined and names %}
            <div class="hamburgercontainer">
                {% for key,value in names %}
                    <div class="hamburgerlinkdivstyle">
                        <a class="hamburgercontentname" href="{{ path(key, {id: service.id}) }}">{{value}}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div> 
</div>


{% if organization is defined and names %}
    <div class="desktopcontainer">
        <div class="desktoplinkdivstyle">
            <span class="mainname">
                <a class="mainnamelink" href="{{ path('app_organization_show', {id: organization.id}) }}">{{ organization.name }}</a>
            </span>
            {% for key,value in names %}
                {% set route = app.request.get('_route') %}
                {% if loop.first %}
                    <span id="navbarmenupoints">
                        <a class="navbarlink{% if route == key %} navbarlinkactive{% endif %}" href="{{ path(key, {id: organization.id}) }}">{{value}}</a>
                    {% elseif loop.last %}
                        <a class="navbarlink{% if route == key %} navbarlinkactive{% endif %}" href="{{ path(key, {id: organization.id}) }}">{{value}}</a>
                    </span>
                {% else %}
                    <a class="navbarlink{% if route == key %} navbarlinkactive{% endif %}" href="{{ path(key, {id: organization.id}) }}">{{value}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if service is defined and names %}
    <div class="desktopcontainer">
        <div class="desktoplinkdivstyle">
            <span class="mainname">
                <a class="mainnamelink" href="{{ path('app_service_show', {id: service.id}) }}">{{ service.name}}</a>
            </span>
            {% for key,value in names %}
                {% set route = app.request.get('_route') %}
                {% if loop.first %}
                    <span id="navbarmenupoints">
                        <a class="navbarlink{% if route == key %} navbarlinkactive{% endif %}" href="{{ path(key, {id: service.id}) }}">{{value}}</a>
                    {% elseif loop.last %}
                        <a class="navbarlink{% if route == key %} navbarlinkactive{% endif %}" href="{{ path(key, {id: service.id}) }}">{{value}}</a>
                    </span>
                {% else %}
                    <a class="navbarlink{% if route == key %} navbarlinkactive{% endif %}" href="{{ path(key, {id: service.id}) }}">{{value}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    var acc = $(".accordionhamburger");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }

    if ($("#container").find($("#hamburger")).length > 0) {
        $("#hamburger").remove();
        $("#container").append($("#hamburger"));
    } else {
        $("#container").append($("#hamburger"));
    }
</script>
