{# 
usage in twig:
{{ include('::panel.html.twig', {heading: 'foobar', buttonappear:'none/inline' main: service/organization, items: items}) }}

usage in symfony (example:key1=Name, value1=name):
return $this->render(
            'AppBundle:Whatever.html.twig',
            array(
                "items" => array(
                    "key1" => "value1", 
                    "key2" => "value2"
                    .
                    .
                    .
                ),
                "main" => service/organization
            )
        );
#}
<script>
    function {{changebutton}}_edit(){
        $(".{{changeedit}}").prop('readonly', false);
        $(".{{changebutton}}")[0].style.display="inline";
    }
          
</script>
<div class="propertiespanel">
    <div class="header">
        {{heading}}
        <button type="submit" class="{{changebutton}} pull-right" id="sendbutton"  style="display:none"><i class="material-icons">done</i></button>
        <button type="button" class="editbutton" style="display: {{buttonappear}}" onclick="{{changebutton}}_edit()"><i class="material-icons">create</i></button>
   
    </div>
    {% for key, value in items %}
        {% if main[value]%}
            <div>
                <div class="propname">{{key}}</div>
                <textarea class="{{changeedit}}" id="propdescription" readonly cols="30" rows="1" name="{{key}}"> {{main[value]}} </textarea>
            </div>
        {% else %}
             <div>
                <div class="propname">{{key}}</div>
                <textarea class="{{changeedit}}" id="propdescription" readonly cols="30" rows="1" name="{{key}}"> </textarea>               
            </div>
        {% endif %}
    {% endfor %}
</div>

