{#

{{ include('::tables.html.twig', {variant: 'red', caption: 'Nagy caption', users: managers, table_id: managers_table, buttons: buttons, search_placeholder: 'Search managers'}) }}

ahol:
variant: red|blue
table_id: the id of the table tag
buttons array:

 ....
 "id1" => array(
    "class" => "btn-blue",
    "text" => "Revoke"
    ),
 "id2" => array(
    "class" => "btn-red",
    "last" => true,
    "text" => '<i class="material-icons">add</i>Invite'
    )
 ...

 ahol last: külön kezelt ikon, ami jobbra zárt, és mobil nézetben a search mellett marad, a többi egy sort lejjebb ugrik

#}

<script type="text/javascript">
    $(document).ready(function () {
        $('#{{ table_id }}').DataTable({
            {% if buttons is defined %}
            "order": [[1, "desc"]],
            {% endif %}
            "dom": 'trlip'
        });

        {# hide pagination if one page #}
        if ($('#{{ table_id }}').DataTable().page.info().pages == 1) {
            $('#{{ table_id }}_info').hide();
            $('#{{ table_id }}_paginate').hide();
            $('#{{ table_id }}_length').hide();
        }

        {# hide filter label (text: Search:) #}
        $('#{{ table_id }}_filter').children('label').contents().first().remove();
        $('#{{ table_id }}_filter input').addClass('hexaaSearchField');

        $('#{{ table_id }}_hexaaSearchField').on('keyup', function () {
            $('#{{ table_id }}').DataTable().search(this.value).draw();
            //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            if ($('#members_table')) {
                $('#members_table').DataTable().search(this.value).draw();
            }
        });

        {# toggle disabled action buttons #}
        $('#{{ table_id }}').on('change', 'input[type=checkbox]', function () {
            var checked = false;
            $('#{{ table_id }} input[type=checkbox]').each(function (index,
                                                                     el) {

                if ($(this).prop('checked')) {
                    checked = true;

                    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    if($('#members_table')) {
                        var checkedrows = $('tbody input[type="checkbox"]:checked', $('#members_table'));
                        if (checkedrows.length === 0) {

                            $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                               val) {
                                $(this).prop('disabled', false);
                                $('#proposal').prop('disabled', 'disabled');
                            });
                        }
                        else {
                            $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                               val) {
                                $(this).prop('disabled', false);
                                $('#revoke').prop('disabled', 'disabled');
                                $('#proposal').prop('disabled', 'disabled');
                            });
                        }
                    }
                    else {
                        $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                           val) {
                            $(this).prop('disabled', false);
                            $('#proposal').prop('disabled', 'disabled');
                        });
                    }
    {# disable checkbox_all when one of the checkbox "clicked out" after checkbox_all clicked #}
                    $('#{{checkbox_all}}').prop('checked', false);
                }
            });


            if (!checked) {
                $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                   val) {
                    if ($('#members_table')) {
                        var checkedrows = $('tbody input[type="checkbox"]:checked', $('#managers_table'));
                        var checkedrows2 = $('tbody input[type="checkbox"]:checked', $('#members_table'));
                        if (checkedrows.length === 0 && checkedrows2.length != 0) {
                            $('#revoke').prop('disabled', 'disabled');
                            $('#proposal').prop('disabled', false);
                        }
                        if (checkedrows.length === 0 && checkedrows2.length === 0) {
                            $(this).prop('disabled', 'disabled');
                        }
                    }
                    else {
                        $(this).prop('disabled', 'disabled');
                    }
                });
            }
        });

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        if ($('#members_table')) {
            $('#members_table').on('change', 'input[type=checkbox]', function () {
                var checked = false;

                    $('#members_table input[type=checkbox]').each(function (index, el) {

                        if ($(this).prop('checked')) {
                            checked = true;


                            var checkedrows = $('tbody input[type="checkbox"]:checked', $('#managers_table'));
                            if (checkedrows.length === 0) {

                                $('.managers_table_actionButtons button.dependent').each(function (index,
                                                                                                   val) {
                                    $(this).prop('disabled', false);
                                    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                    $('#revoke').prop('disabled', 'disabled');
                                });
                            }
                            else {

                                $('.managers_table_actionButtons button.dependent').each(function (index,
                                                                                                   val) {
                                    $(this).prop('disabled', false);
                                    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                    $('#revoke').prop('disabled', 'disabled');
                                    $('#proposal').prop('disabled', 'disabled');
                                });
                            }
                            {# disable checkbox_all when one of the checkbox "clicked out" after checkbox_all clicked #}
                            $('#{{ checkbox_all }}').prop('checked', false);
                        }
                    });

                if (!checked) {
                    $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                       val) {
                        var checkedrows = $('tbody input[type="checkbox"]:checked', $('#members_table'));
                        var checkedrows2 = $('tbody input[type="checkbox"]:checked', $('#managers_table'));
                        if (checkedrows.length === 0 && checkedrows2.length != 0) {
                            $('#revoke').prop('disabled', false);
                        }
                        $('#proposal').prop('disabled', 'disabled');

                        if (checkedrows.length === 0 && checkedrows2.length === 0) {
                            $(this).prop('disabled', 'disabled');
                        }
                    });
                }
            });
        }


        $('#{{checkbox_all}}').click(function() {
            var checkedStatus = this.checked;
            $('#{{ table_id }} tbody tr').find('td:first :checkbox').each(function() {
                $(this).prop('checked', checkedStatus);
                
            });

            //!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            if ($('#members_table')) {
                $('#members_table tbody tr').find('td:first :checkbox').each(function () {
                    $(this).prop('checked', checkedStatus);
                });
            }

            if ($(this).prop('checked')) {
                $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                       val) {
                    $(this).prop('disabled', false);
                    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    if ($('#members_table')) {
                        var checkedrows = $('tbody input[type="checkbox"]:checked', $('#members_table'));
                        console.log(checkedrows);
                        if (checkedrows.length === 0) {
                            $('#revoke').prop('disabled', false);
                        }
                        else {
                            $('#revoke').prop('disabled', 'disabled');
                        }
                    }
                    $('#proposal').prop('disabled', 'disabled');
                });
            }
            if (!$(this).prop('checked')) {
                $('.{{ table_id }}_actionButtons button.dependent').each(function (index,
                                                                                   val) {
                    $(this).prop('disabled', 'disabled');
                });
            }
            
        });

    });
</script>

<div class="{{ table_id }}_actionButtons" id="tablewithcheckbox">

    {% if form is not defined %}
        {% if ismanager == "true" %}
            <input class="hexaaCheckBox hidden-xs pull-left" id="{{checkbox_all}}" type="checkbox" value="" name="selectAll">
        {% endif %}
        <input id="{{ table_id }}_hexaaSearchField" type="text" name="filter" class="hexaaSearchField pull-left"
               {% if search_placeholder is defined %}placeholder="{{ search_placeholder }}"{% endif %}>
    {% endif %}
    {% if buttons is defined and buttons %}
        {% if ismanager == "true" %}
            {% for id, button in buttons %}
                {% if not button.last is defined %}
                    <button class="btnhexaa {{ button.class }} dependent hidden-xs" disabled="disabled"
                            id="{{ id }}">{{ button.text|raw }}</button>
                {% endif %}
            {% endfor %}
            {% for id, button in buttons %}
                {% if button.last is defined %}
                    <button class="btnhexaa {{ button.class }} pull-right" id="{{ id }}">{{ button.text|raw }}</button>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if buttons is defined and buttons %}
        {% if ismanager == "true" %}
            <div class="visible-xs" style="margin-top: 12px;">
                {% for id, button in buttons %}
                    {% if not button.last is defined %}
                        <button class="btnhexaa {{ button.class }} dependent" disabled="disabled"
                                id="{{ id }}">{{ button.text|raw }}</button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="visible-xs" style="margin-top: 12px;">
                <input class="hexaaCheckBox" type="checkbox" value="">
            </div>
        {% endif %}
    {% endif %}
</div>

<table class="datatable datatable-{{ variant }}" id="{{ table_id }}">
    {% if form is not defined or form == 'false' %}
        <caption>{{ caption }}</caption>
    {% endif %}
    <thead>
    <tr>
        {% if buttons is defined %}
            {% if ismanager == "true" %}
                <th></th>
            {% endif %}
        {% endif %}
        {% if attributes is defined %}
            <th></th>
        {% else %}
            <th></th>
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr id="{{ user.id }}">
        {% if buttons is defined %}
            {% if ismanager == "true" %}
                <td><input type="checkbox" name="checkbox" {% if attributes is not defined %} data-id="{{ user.id }}" data-fedid="{{ user.fedid }}" data-behattarget="{{ user.fedid }}" {% endif %}></td>
            {% endif %}
        {% endif %}
        {% if attributes is defined %}
            <td class="{{ tdcolor }}"><strong>{{ user.name }}</strong></td>
        {% else %}
            <td><strong>{{ user.display_name }}</strong></td>
            <td>{{ user.email }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
