{#

{{ include('::tables.html.twig', {variant: 'red', caption: 'Nagy caption', checkbox: true, users: managers, table_id: managers_table}) }}

ahol:
variant: red|blue
checkbox: true|false
table_id: the id of the table tag

#}

<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ table_id }}').DataTable( {
            {% if checkbox %}
                "order": [[ 1, "desc" ]],
            {% endif %}
        });

        {# hide pagination if one page #}
        if ($('#{{ table_id }}').DataTable().page.info().pages == 1) {
            $('#{{ table_id }}_info').hide();
            $('#{{ table_id }}_paginate').hide();
            $('#{{ table_id }}_length').hide();
        }

        {# hide filter label (text: Search:) #}
        $('#{{ table_id }}_filter').children('label').contents().first().remove();
        $('#{{ table_id }}_filter input').addClass('hexaaSearchField');
    });
</script>

<table class="datatable datatable-{{ variant }}" id="{{ table_id }}">
    <caption>{{ caption }}</caption>
    <thead>
        <tr>
            {% if checkbox %}
                <th></th>
            {% endif %}
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            {% if checkbox %}
                <td><input type="checkbox" name="checkbox"></td>
            {% endif %}
            <td><strong>{{user.display_name}}</strong></td>
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>