{% include 'header.html.twig' %}

<div id="srvmenu">
    <div id="srvmenucontent">
        <span id="servicename">{{ organization.name }}</span>
        <span id="srvmenupoints">
            <a class="srvlink{% if menu == "properties" %} srvlinkactive{% endif %}" href="organization.php?id={{ organization.id }}&menu=properties">&nbsp;&nbsp;Properties&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "users" %} srvlinkactive{% endif %}" href="organization.php?id={{ organization.id }}&menu=users">&nbsp;&nbsp;Users&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "roles" %} srvlinkactive{% endif %}" href="organization.php?id={{ organization.id }}&menu=roles">&nbsp;&nbsp;Roles&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "connectedservices" %} srvlinkactive{% endif %}" href="organization.php?id={{ organization.id }}&menu=connectedservices">&nbsp;&nbsp;Connected services&nbsp;&nbsp;</a>
        </span>
    </div>
</div>

<div id="srvmain">
    {% if menu == "main" %}
        <div id="maindivcontents">
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/create_role.svg"/><br/> <p><b>Create role</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/connect_to_service.svg"/><br/><p><b>Connect to service</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/edit_attributes.svg"/><br/><p><b>Edit attributes</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/manage_users.svg"/><br/><p><b>Manage users</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/edit_properties.svg"/><br/><p><b>Edit properties</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/view_history.svg"/><br/><p><b>View history</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/delete_organization.svg"/><br/><p><b>Delete organization</b></p></div>
        </div>
    {% endif %}
    {% if menu == "properties" %}

        <table id=centertable3>
            <td class="uniqueproperty" style="background-color: #FFFFFF">
                <div id="propertyname">
                    <b> Properties </b>
                </div>
                <div >
                    {% if organization.name %}
                        <div class="inline"><b>Name</b></div>
                        <div class="descriptions" >{{ organization.name }}</div>
                    {% endif %}
                </div>
                <div>
                    {% if organization.description %}
                        <div class="inline"><b>Description</b></div>
                        <div class="descriptions" >{{ organization.description }}</div>
                    {% endif %}
                </div>
                <div>
                    {% if organization.url %}
                        <div class="inline"><b>Home Page</b></div>
                        <div class="descriptions">{{ organization.url }}</div>
                    {% endif %}
                </div>
                <div>
                    {% if drolename %}
                        <div class="inline"><b>Default role</b></div>
                        <div class="descriptions">{{ drolename }}</div>
                    {% endif %}
                </div>
            </td>
            <tr>
                <td class="uniquebuttons" style="background-color: #FFFFFF"></td>
            </tr>
            <tr>
                {% if roles %}
                <tr>
                    <td class="unique" style="background-color: #61AFC5" >

                        <div id="labels">
                            <label id="headerLabel">
                                Roles
                            </label>
                            <label id="headerLabeltext">
                                A szerepköröket a szerepkörök menüpont alatt tudod szerkeszteni.
                            </label>
                        </div>
                        <div id="roles2">
                            {% for role in roles %}
                                <div class="accordion2">
                                    <span class="name">{{role.name}}</span>
                                </div>

                                <div class="panel">
                                    <table id="paneltable">
                                        <tr id="row">
                                            <td rowspan="4" class="firsttd">
                                                Permissions
                                            </td>

                                            <td class="long">
                                                {{role.principals[0].display_name}}
                                            </td>
                                        </tr>
                                        {%for princip in principals.items%}
                                            <tr>
                                                <td class="long">
                                                    jog erre
                                                </td>
                                            </tr>
                                        {% endfor %}


                                        <tr>
                                            <td rowspan="5" class="firsttd">
                                                Members
                                            </td>

                                            <td class="long">
                                                Almás Tamás
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="long">
                                                Farkas Péter
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="long">
                                                Székely Szintia
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="long">
                                                Teniszütő Ernő
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="long">
                                                Vas István
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            {% endfor %}

                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endif %}
    {% if menu=="users" %}
        <div id="tablemanagers">
            <table id=centertable>
                <tr>
                    <td width="100%"valign="middle" align="center">
                        <div id="firstrow" style="width: 70%">
                            <div class="flexcontainer" align="left">
                                <input type="checkbox" onclick="toggle(this)" class="togglecheck" id="toggleAll"/>
                                <input type="text" class="inputfield" style="width: 250px">
                                <button id="search" type="submit"></button>
                                <button class="firstrowbuttons" >Change roles</button>
                                <button class="firstrowbuttons" >Proposal</button>
                                <button class="firstrowbuttons" >Revoke</button>
                                <button class="firstrowbuttons" >Message</button>
                                <button class="firstrowbuttons" >Remove</button>
                                <button id="firstrowinvite" >Invite</button>
                            </div>
                        </div>
                        {% if managers %}
                            <table style="width:70%" id="managertable">
                                <caption>Managers</caption>
                                {% for manager in managers %}
                                    <tr class="colororgman"><td class="check"><input type="checkbox" name="foo" onclick="backgroundcolororgman()" class="managercheck"></td><td><b>{{manager.display_name}}</b></td><td>{{manager.email}}</td></tr>
                                        {% endfor %}
                            </table>
                        {% endif %}
                        {% if members %}
                            <table style="width:70%" id="usertable">
                                <caption>Users</caption>
                                {% for member in members %}
                                    <tr class="colororgus"><td class="check"><input type="checkbox" name="foouser" onclick="backgroundcolororguser()" class="usercheck"></td><td><b>{{member.display_name}}</b></td><td>{{member.email}}</td></tr>
                                        {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>
</div>
<script>

  var b=document.getElementsByClassName("servicecl");
        for (i = 0; i < b.length; i++) {
            b[i].style.backgroundColor = "#2e2d2d";
        }
         var b2=document.getElementsByClassName("dropbtn");
        for (i = 0; i < b2.length; i++) {
            b2[i].style.backgroundColor = "#61AFC5";
        }
    var acc = document.getElementsByClassName("accordion2");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }

    function backgroundcolororgman() {
        checkboxes = document.getElementsByName('foo');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            trchecks = document.getElementsByClassName('colororgman');
            if (checkboxes[i].checked == true) {
                trchecks[i].style.backgroundColor = "#FA8072";
            } else {
                trchecks[i].style.backgroundColor = "#FFFFFF";
            }
        }
    }

    function backgroundcolororguser() {
        checkboxes = document.getElementsByName('foouser');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            trchecks = document.getElementsByClassName('colororgus');
            if (checkboxes[i].checked == true) {
                trchecks[i].style.backgroundColor = "#61AFC5";
            } else {
                trchecks[i].style.backgroundColor = "#FFFFFF";
            }
        }
    }
    var isClickedCheckboxorg = [false];
    function toggle(source) {
        isClickedCheckboxorg.push(true);
        checkboxes = document.getElementsByName('foo');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
            trchecks = document.getElementsByClassName('colororgman');
            if ((isClickedCheckboxorg.length) % 2 == 0) {
                trchecks[i].style.backgroundColor = "#FA8072";
            } else {
                trchecks[i].style.backgroundColor = "#FFFFFF";
            }
        }
        checkboxesuser = document.getElementsByName('foouser');
        for (var i = 0, n = checkboxesuser.length; i < n; i++) {
            checkboxesuser[i].checked = source.checked;
            trchecksuser = document.getElementsByClassName('colororgus');
            if ((isClickedCheckboxorg.length) % 2 == 0) {
                trchecksuser[i].style.backgroundColor = "#61AFC5";
            } else {
                trchecksuser[i].style.backgroundColor = "#FFFFFF";
            }
        }
    }

</script>

{% include 'footer.html.twig' %}


