{% include 'header.html.twig' %}

<div id="srvmenu">
    <div id="srvmenucontent">
        <span id="servicename">{{ service.name }}</span>
        <span id="srvmenupoints">
            <a class="srvlink{% if menu == "properties" %} srvlinkactive{% endif %}" href="service.php?id={{ service.id }}&menu=properties">&nbsp;&nbsp;Properties&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "managers" %} srvlinkactive{% endif %}" href="service.php?id={{ service.id }}&menu=managers">&nbsp;&nbsp;Managers&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "attributes" %} srvlinkactive{% endif %}" href="service.php?id={{ service.id }}&menu=attributes">&nbsp;&nbsp;Attributes&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "permissions" %} srvlinkactive{% endif %}" href="service.php?id={{ service.id }}&menu=permissions">&nbsp;&nbsp;Permissions&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "permissionsets" %} srvlinkactive{% endif %}" href="service.php?id={{ service.id }}&menu=permissionsets">&nbsp;&nbsp;Permission sets&nbsp;&nbsp;</a>
            <a class="srvlink{% if menu == "connectedorganizations" %} srvlinkactive{% endif %}" href="service.php?id={{ service.id }}&menu=connectedorganizations">&nbsp;&nbsp;Connected organizations&nbsp;&nbsp;</a>
        </span>
    </div>          
</div>

<div id="srvmain">
     {% if menu == "main" %}
        <div id="maindivcontents">
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/create_permission.svg"/><br/> <p><b>Create permission</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/invite_organization.svg"/><br/><p><b>Invite organiztaion</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/add_attribute_specification.svg"/><br/><p><b>Add attribute specification</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/invite_manager.svg"/><br/><p><b>Invite manager</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/contact_admin.svg"/><br/><p><b>Contact admin</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/view_history.svg"/><br/><p><b>View history</b></p></div>
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="img/delete_organization.svg"/><br/><p><b>Delete service</b></p></div> 
        </div>
    {% endif %}
    {% if menu == "properties" %}
        <div class="infobox">
            <table class="infotable">
                <tr><th class="infohead">Properties</th><th></th></tr>
                <tr><td class="infoleft">Name</td><td class="inforight">{{ service.name }}</td></tr>
                <tr><td class="infoleft">Description</td><td class="inforight">{{ service.description }}</td></tr>
                <tr><td class="infoleft">Home page</td><td class="inforight">{{ service.url }}</td></tr>        
                <tr><td class="infoleft">SAML SP Entity Id</td><td class="inforight">{{ service.entityid }}</td></tr>
                <tr><td class="infoleft">Created</td><td class="inforight">{{ service.created_at }}</td></tr>
                <tr><td class="infoleft">Last updated</td><td class="inforight">{{ service.updated_at }}</td></tr>
            </table>
        </div>
    {% endif %}
</div>

<script>
     var b = document.getElementsByClassName("servicecl");
    for (i = 0; i < b.length; i++) {
        b[i].style.backgroundColor = "#61AFC5";
    }
    var b2 = document.getElementsByClassName("dropbtn");
    for (i = 0; i < b2.length; i++) {
        b2[i].style.backgroundColor = "#2e2d2d";
    }
    
</script>

{% include 'footer.html.twig' %}