{% extends "::base.html.twig" %}

{% block title %}AppBundle:Profile:index{% endblock %}

{% block body %}

    <div id="profilemain">
        <table id="profileproperties">
            <tr>
                <td id="properties" style="background-color: #FFFFFF" width="110%" height="110%">
                    <div id="propertyname">
                        <b> Properties </b>
                        <button class="editproperty"></button>
                    </div>
                    <div >
                        <div class="inlineprofile"><b>Name</b></div>
                        <div class="descriptionsprofile">{{user.display_name}}</div>
                    </div>
                    <br/>
                    <div>
                        <div class="inlineprofile"><b>Email</b></div>
                        <div class="descriptionsprofile">{{user.email}}</div>
                    </div>
                    <br/>
                    <div>
                        <div class="inlineprofile"><b>Federal ID</b></div>
                        <div class="descriptionsprofile">{{user.fedid}}</div>
                    </div>
                    <br/>
                </td>
                <td>
                    <div class="accountbutton"><a href="{{ path('app_profile_history') }}"> <img class="accountimage" alt="Account history" src="/img/account_history.svg"/><br/><br/>Account history</a></div>
                </td>
            </tr>
        </table>
        <table id="profileattributes">
            <tr>
                <td class="uniqueprofile" style="background-color: #FFFFFF" valign="middle">

                    <div id="labels">
                        <label id="headerlabelprofile">
                            Attributes
                        </label>
                    </div>
                    
                    <div id="attributes">
                    {% for userattribute in userattributes %}
                        <div class="accordionattributes">
                            <span class="name">
                                {{userattribute.principal.name}}
                            </span>
                        </div>
                        <div class="panelattributes">

                        </div>
                    {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
