{% extends "base.html.twig" %}
{% block body %}
    {% if services.items is not defined or services.items == null %}
        <div id="welcomediv">
            <div id="welcomecontent">
                {% include 'AppBundle:Default:welcomediv.html.twig' %}
                <div id="mobilemaincontrols">
                    {% include 'AppBundle:Default:mobilebuttons.html.twig' %}
                </div>
            </div>
        </div>
        <div id="maindiv">
            <div id="maindivcontents">
                {{ include('AppBundle:Default:welcomepagebuttons.html.twig', { desktopbuttonimageafterlogin: "desktopbuttonimageafterloginlarge"}) }}
            </div>
            <br>
            <div id="footertext">
                Are you an expert hexaa user? <a href="{{ path('app_service_create') }}">Create your own service.</a>
            </div>
        </div>
    {% else %}
        <div id="mainafterlogin">
            <div id="welcomediv">
                <div id="welcomecontent">
                    {% include 'AppBundle:Default:welcomediv.html.twig' %}
                    <br>
                    <div id="mobilemaincontrols">
                        {% include 'AppBundle:Default:mobilebuttons.html.twig' %}
                    </div>
                </div>
            </div>
            <div id="maindivafterlogin">
                <div id="maindivcontentsafterlogin">
                    {{ include('AppBundle:Default:welcomepagebuttons.html.twig', { hasService: false, desktopbuttonimageafterlogin: "desktopbuttonimageafterloginsmall"}) }}
                </div>
            </div>
            <div class="hr"><hr/></div>
            <div id="maintables">
                <div id="orgtablemain">
                    <div id="orgtableheader"><b>ORGANIZATIONS</b></div>
                    {% if organizations.items == null %}
                        <div id="emptyorgtable" style="font-style: italic">(No organizations yet)</div>
                    {% endif %}
                    {% for organization in organizations.items %}
                        <div id="orgtablecontent"><a href="{{ path('app_organization_show', {id: organization.id}) }}">{{ organization.name|e }}</a></div>
                        {% endfor %}
                </div>
                <div id="servtablemain">
                    <div id="servtableheader"><b>SERVICES</b></div>
                    {% for service in services.items %}
                        <div id="servtablecontent"><a href="{{ path('app_service_show', {id: service.id}) }}">{{ service.name|e }}</a></div>
                        {% endfor %}             
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}