{% extends "base.html.twig" %}
{% block body %}
    {% set hasServices = services.items is defined and services.item_number > 0 %}
    {% if not hasServices %}
        <div id="welcomediv">
            <div id="welcomecontent">
                {% include 'AppBundle:Default:welcomediv.html.twig' %}
                <div id="mobilemaincontrols">
                    {% include 'AppBundle:Default:mobilebuttons.html.twig' %}
                </div>
            </div>
        </div>
        <div id="maindiv">
            <div id="maindivcontents">
                {{ include('AppBundle:Default:welcomepagebuttons.html.twig', { desktopbuttonimageafterlogin: "desktopbuttonimageafterloginlarge"}) }}
            </div>
        </div>
    {% else %}
        <div id="mainafterlogin">
            <div id="welcomediv">
                <div id="welcomecontent">
                    {% include 'AppBundle:Default:welcomediv.html.twig' %}
                    <br>
                    <div id="mobilemaincontrols">
                        {% include 'AppBundle:Default:mobilebuttons.html.twig' %}
                    </div>
                </div>
            </div>
            <div id="maindivafterlogin">
                <div id="maindivcontentsafterlogin">
                    {{ include('AppBundle:Default:welcomepagebuttons.html.twig', { hasService: false, desktopbuttonimageafterlogin: "desktopbuttonimageafterloginsmall"}) }}
                </div>
            </div>
    {% endif %}
    <div class="clearfix"></div>
        <div class="maintables container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class=" col-sm-14">
                    <div class="hr">
                    <hr/>
                </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                {% if hasServices %}
                    <div class="col-sm-3"></div>
                {% else %}
                    <div class="col-sm-6"></div>
                {% endif %}
                <div class="col-sm-4 tablemain">
                    <div id="orgtablemain">
                        <div id="orgtableheader" class="tableheader"><b>ORGANIZATIONS</b></div>
                        {% if organizations.items == null %}
                            <div id="emptyorgtable" style="font-style: italic">(No organizations yet)</div>
                        {% endif %}
                        {% for organization in organizations.items %}
                            <div id="orgtablecontent"><a href="{{ path('app_organization_show', {id: organization.id}) }}">{{ organization.name|e }}</a></div>
                            {% endfor %}
                    </div>
                </div>

                {% if hasServices %}
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 tablemain">
                        <div id="servtablemain">
                            <div id="servtableheader" class="tableheader"><b>SERVICES</b></div>
                            {% for service in services.items %}
                                <div id="servtablecontent"><a href="{{ path('app_service_show', {id: service.id}) }}">{{ service.name|e }}</a></div>
                                {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="clearfix"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-11">
                        <div id="footertext">
                            Are you an expert hexaa user? <a href="{{ path('app_service_create') }}">Create your own service.</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}